.subWrapper {
  background-color: #b7f593;
}
.subHeader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  font-size: clamp(0.875rem, 0.75rem + 0.56vw, 1.25rem);
  font-weight: 600;
}
.navigation {
  display: flex;
  gap: clamp(2.5rem, 5vw, 5rem);
  align-items: center;
  list-style: none;
}
.link {
  color: #1b4a0a;
}
.link:hover {
  color: #4a7c30;
}
.menu_button {
  display: none;
}
.close {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
}

@media (max-width: 650px) {
  .nav {
    position: fixed;
    top: 0;
    right: -225px;
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 100%;
    background: #738b5f;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s linear;
    z-index: 5;
  }
  .nav.active {
    transform: translateX(-100%);
  }
  .navigation {
    flex-direction: column;
    padding-top: 40px;
    padding-left: 10px;
    gap: 20px;
  }
  .menu_button {
    display: block;
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 0;
    border: 0;
  }
}
